<div fxLayout="row" fxLayoutAlign="center center" class="add-product">
    <div fxLayout="column" class="padding20 width50" fxLayoutGap="20px" style="border: 1px dotted gray;" [formGroup]="productForm">
        <mat-form-field>
            <mat-label>Product name</mat-label>
            <input matInput formControlName="productName">
            <mat-error *ngIf="productForm.get('productName').errors?.required">Product Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
            <mat-error *ngIf="productForm.get('description').errors?.required">Description is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Select category</mat-label>
            <mat-select formControlName="category" name="productCateory">
                <mat-option *ngFor="let productCateory of productCateoryList" [value]="productCateory.key">
                    {{productCateory.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price in rs</mat-label>
            <input matInput formControlName="price">
            <mat-error *ngIf="productForm.get('price').errors?.required">Price is required</mat-error>
            <mat-error *ngIf="!productForm.get('price').errors?.required && productForm.get('price').invalid">Price must be a valid number</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label> Mobile No.(for more details)</mat-label>
            <input matInput formControlName="mobile">
            <mat-error *ngIf="productForm.get('mobile').errors?.required">Mobile number is required</mat-error>
            <mat-error *ngIf="!productForm.get('mobile').errors?.required && productForm.get('mobile').invalid">Mobile must be a valid Mobile number</mat-error>
        </mat-form-field>
        <div fxLayoutAlign="center center">
            <button mat-raised-button color="warn" [disabled]="productForm.invalid" (click)="AddOrUpdateProduct()">{{buttonName}}</button>
        </div>
    </div>
</div>