<div>
    <p>{{data.msg}}</p>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
</div>