<div fxLayout="row" fxLayoutAlign="space-between center" class="padding10side">
    <div fxLayoutAlign="center center">
        <h1 class="padding20 font25">Product Cateory</h1>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Select category</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="productCateory">
                    <mat-option *ngFor="let productCateory of productCateoryList" [value]="productCateory.key" (click)="onChange(productCateory.key)">
                        {{productCateory.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>

    </div>
    <div class="padding20" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="navigateAddProduct()">Add Product</button>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">

    <table class="padding20" mat-table [dataSource]="dataSource" style="width: 80%; border: 1px dotted gray;" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product id No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price in rs </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef> Mobile no (for more details) </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div class="more-icon pointer" [matMenuTriggerFor]="menu"> </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="updateProductData(element)">Update</button>
                    <button mat-menu-item (click)="openDialog(element)">Delete</button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="padding10side">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>