<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
    <div [className]="data.type === 'success' ? 'selected-icon' : 'error-icon'" class=""> </div>
    <div fxLayout="column" fxLayoutGap="3px">
        <ng-container *ngIf="data.type === 'error'">
            <p class="font-size-20 bold color-white regular-13">{{data.type | titlecase}}</p>
        </ng-container>
        <ng-container *ngIf="data.type !== 'error'">
            <p class="font-size-20 bold color-white medium-15">{{data.type | titlecase}}</p>
        </ng-container>
        <p class="font-size-15 color-white medium-15">{{data.message}}</p>
    </div>
</div>