/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding20 {
    padding: 20px;
}

.padding10side {
    padding: 0% 10%;
}

.pointer {
    cursor: pointer;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.more-icon {
    background: url('./assets/more.png') no-repeat center;
    background-size: contain;
    height: 20px;
    width: 20px;
}

.font25 {
    font-size: 25px;
}